{{ define "content" }}

<h2 class="title">{{ .title }}</h2>

<div class="action-bar">
  <form action="/customers" class="search-form" method="GET">
    <input name="search" placeholder="search..." type="search" value="{{ .search }}">
    <button class="button" type="submit">Go</button>
  </form>

  <a class="button button--accent action" href="/customers/create">
    <i class="fa fa-pen action__icon"></i>
    <span>Add a customer</span>
  </a>
</div>

<table class="customers">
  <thead>
    <tr>
      <th>
        <button>ID</button>
      </th>
      <th>
        <button>First Name</button>
      </th>
      <th>
        <button>Last Name</button>
      </th>
      <th>
        <button>Birth Day</button>
      </th>
      <th>
        <button>Gender</button>
      </th>
      <th>
        <button>Email</button>
      </th>
      <th>
        <button>Address</button>
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{ range .customers }}

    <tr>
      <td>{{ .ID }}</td>
      <td>{{ .FirstName }}</td>
      <td>{{ .LastName }}</td>
      <td>{{ .BirthDate.Format "January 2006" }}</td>
      <td>{{ .Gender }}</td>
      <td>{{ .Email }}</td>
      <td>{{ .Address }}</td>
      <td>
        <a class="customer-action" href="/customer/{{ .ID }}">
          <i class="fa fa-eye"></i>
        </a>

        <a class="customer-action" href="/customer/{{ .ID }}/update">
          <i class="fa fa-pen"></i>
        </a>

        <a class="customer-action" href="/customer/{{ .ID }}/delete">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>

    {{ end}}

  </tbody>

</table>

<div id="pagination" data-count="{{ .count }}"></div>

<script>
  function createLink(page) {
    const params = window.location.search
      .replace('?', '')
      .split('&')
      .filter(param => !param.includes('page'))
      .join();

    const a = document.createElement('a');

    a.setAttribute('href', `/customers?page=${page}&${params}`);
    a.text = page;

    return a;
  }

  function createSpan() {
    const span = document.createElement('span');

    span.innerText = '...';

    return span;
  }

  (function pagination() {
    const element = document.getElementById('pagination');

    const current = window.location.search
      .replace('?', '')
      .split('&')
      .find(param => param.includes('page'));

    const last = Math.ceil(element.dataset.count / 10);
    const delta = 2;
    const left = current - delta;
    const right = current + delta + 1;
    const range = [];
    let l;

    for (let i = 1; i <= last; i++) {
      if (i === 1 || i === last || i >= left && i < right) {
        range.push(i);
      }
    }

    for (let i of range) {
      if (l) {
        if (i - l === 2) {
          element.appendChild(createLink(l + 1));
        } else if (i - l !== 1) {
          element.appendChild(createSpan());
        }
      }

      l = i;

      element.appendChild(createLink(i));
    }
  })();
</script>

{{ end }}