{{ define "content" }}

<h2 class="title">{{ .title }}</h2>

<div class="action-bar">
  <form action="/customers" class="search-form" method="GET">
    <input name="search" placeholder="search..." type="search" value="{{ .search }}">
    <button class="button" type="submit">Go</button>
  </form>

  <a class="button button--accent action" href="/customers/create">
    <i class="fa fa-pen action__icon"></i>
    <span>Add a customer</span>
  </a>
</div>

<table class="customers">
  <thead>
    <tr>
      <th>
        <a data-field="id">ID</a>
      </th>
      <th>
        <a data-field="first_name">First Name</a>
      </th>
      <th>
        <a data-field="last_name">Last Name</a>
      </th>
      <th>
        <a data-field="birth_date">Birth Day</a>
      </th>
      <th>
        <a data-field="gender">Gender</a>
      </th>
      <th>
        <a data-field="email">Email</a>
      </th>
      <th>
        <a data-field="address">Address</a>
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{ range .customers }}

    <tr>
      <td>{{ .ID }}</td>
      <td>{{ .FirstName }}</td>
      <td>{{ .LastName }}</td>
      <td>{{ .BirthDate.Format "January 2006" }}</td>
      <td>{{ .Gender }}</td>
      <td>{{ .Email }}</td>
      <td>{{ .Address }}</td>
      <td>
        <a class="customer-action" href="/customer/{{ .ID }}">
          <i class="fa fa-eye"></i>
        </a>

        <a class="customer-action" href="/customer/{{ .ID }}/update">
          <i class="fa fa-pen"></i>
        </a>

        <a class="customer-action" href="/customer/{{ .ID }}/delete">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>

    {{ end}}
  </tbody>
</table>

<div id="pagination" data-count="{{ .count }}"></div>

<script src="/js/pagination.js"></script>

{{ end }}