{{ define "content" }}

<form action="/customer/{{ .customer.ID }}/update" class="form" method="POST">
  <h2 class="title">{{ .title }}</h2>

  <div class="form-field">
    <input maxlength="100" name="first_name" placeholder="First Name" required type="text" value="{{ .customer.FirstName }}">
  </div>

  <div class="form-field">
    <input maxlength="100" name="last_name" placeholder="Last Name" required type="text" value="{{ .customer.LastName }}">
  </div>

  <div class="form-field">
    <input name="birth_date" required type="date" value="{{ .customer.BirthDate.Format `2006-01-02` }}">
  </div>

  <div class="form-inline-group">
    <div class="form-checkbox-field">
      <input {{ if eq .customer.Gender `female` }}checked{{ else }}{{ end }} class="visually-hidden" id="gender-female"
        name="gender" type="radio" value="female">
      <label for="gender-female">Female</label>
    </div>

    <div class="form-checkbox-field">
      <input {{ if eq .customer.Gender `male` }}checked{{ else }}{{ end }} class="visually-hidden" id="gender-male"
        name="gender" type="radio" value="male">
      <label for="gender-male">Male</label>
    </div>
  </div>

  <div class="form-field">
    <input name="email" placeholder="Email" required type="email" value="{{ .customer.Email }}">
  </div>

  <div class="form-field">
    <input maxlength="200" name="address" placeholder="Address" type="text" value="{{ .customer.Address }}">
  </div>

  <div class="form-buttons-field">
    <button class="button form-button" type="submit">Submit</button>
    <button class="button button--accent form-button" id="back-button" type="button">Cancel</button>
  </div>
</form>

{{ end }}