{{ define "content" }}

<div class="customer-card">
  <div>
    <h3 class="title">
      {{ .customer.FirstName }} {{ .customer.LastName }}
    </h3>
    <p class="customer-card__description customer-card__block">{{ .customer.Gender }}</p>
  </div>

  <div>
    {{ if .customer.Email }}
    <p class="customer-card__block">
      <span>Email:</span> {{ .customer.Email }}
    </p>
    {{end}}

    {{ if .customer.Address }}
    <p class="customer-card__block">
      <span>Address:</span> {{ .customer.Address }}
    </p>
    {{end}}

    {{ if .customer.BirthDate }}
    <p class="customer-card__block">
      <span>Date of Birth:</span> {{ .customer.BirthDate.Format "January 02, 2006" }}
    </p>
    {{end}}
  </div>

  <p class="customer-card__block">
    <a class="button " href="/customer/{{ .customer.ID }}/update">Update</a>
    <a class="button button--danger" href="/customer/{{ .customer.ID }}/delete">Delete</a>
    <a class="button button--accent" href="/customers">Full list</a>
  </p>
</div>

{{ end }}