body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-color: #fafafa;
}

@media screen and (min-width: 640px) {
  body {
    font-size: 16px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.not-found-placeholder {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
}

.container {
  padding: 5em 3em;
}

.title {
  margin: 0 0 0.875em 0;

  color: #424071;
  font-size: 3em;
  font-weight: 100;
}

/* action-bar */

.action-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px auto;
  grid-template-columns: 300px auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-column-gap: 1em;

  margin-bottom: 3em;

  height: 40px;
}

.action-bar .button {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 0.7em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 0 1em;
}

/* action-bar end */

/* search form */

.search-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px;
  grid-template-columns: 1fr 80px;
  grid-column-gap: 1.125em;
}

.search-form input {
  display: block;

  width: 100%;

  padding: 0.2em 2em;

  -webkit-box-shadow: 0 15px 60px 0px rgba(204, 204, 204, 0.7);

  box-shadow: 0 15px 60px 0px rgba(204, 204, 204, 0.7);

  border-width: 0;
  border-color: transparent;
  -webkit-border-radius: 3.75em;
  border-radius: 3.75em;
}

.search-form input:focus {
  outline: none;
}

.search-form input::-webkit-input-placeholder {
  color: #c6cfd9;
  font-weight: 100;

  opacity: 1;
}

.search-form input::-moz-placeholder {
  color: #c6cfd9;
  font-weight: 100;

  opacity: 1;
}

.search-form input:-ms-input-placeholder {
  color: #c6cfd9;
  font-weight: 100;

  opacity: 1;
}

.search-form input::-ms-input-placeholder {
  color: #c6cfd9;
  font-weight: 100;

  opacity: 1;
}

.search-form input::placeholder {
  color: #c6cfd9;
  font-weight: 100;

  opacity: 1;
}

.search-form input:-ms-input-placeholder {
  color: #c6cfd9;
  font-weight: 100;
}

.search-form input::-ms-input-placeholder {
  color: #c6cfd9;
  font-weight: 100;
}

/* search form end */

/* button */

.button {
  display: inline-block;

  padding: 0.5em 1.5em;

  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #5d59f7;

  -webkit-transition: all 0.3s ease-in-out;

  -o-transition: all 0.3s ease-in-out;

  transition: all 0.3s ease-in-out;

  cursor: pointer;

  border-width: 2px;
  border-color: transparent;
  -webkit-border-radius: 3.75em;
  border-radius: 3.75em;
}

.button:not(:last-of-type) {
  margin-right: 1em;
}

.button:hover {
  background-color: #4541f6;
}

.button:focus {
  outline: none;

  background-color: #4541f6;
}

.button--accent {
  color: #5f6368;

  background-color: transparent;
}

.button--accent:hover {
  background-color: #f1f3f4;
}

.button--danger {
  color: #ffffff;

  background-color: #fc2a27;
}

.button--danger:hover {
  background-color: #ed0703;
}

.button__icon {
  color: #5d59f7;
}

/* button end */

/* action */

.action {
  display: inline-block;

  height: 40px;
  width: 40px;

  color: #5f6368;
  text-align: center;
  text-decoration: none;
  line-height: 40px;

  -webkit-border-radius: 50%;

  border-radius: 50%;

  -webkit-transition: all 0.3s ease-in-out;

  -o-transition: all 0.3s ease-in-out;

  transition: all 0.3s ease-in-out;
}

.action:not(:last-child) {
  margin-right: 0.2em;
}

.action:hover {
  background-color: rgba(128, 134, 139, 0.04);
}

/* action end */

/* customers table */

.customers {
  margin-bottom: 3em;

  width: 100%;

  border-collapse: collapse;
}

.customers thead tr th {
  padding: 0.875em 1em;

  color: #5f6368;
  font-size: 1em;
  font-weight: 500;
  text-align: left;

  border-bottom: 1px solid #e0e0e0;
}

.customers thead tr th a {
  color: #5f6368;
  text-decoration: none;
}

.customers thead tr th a.active {
  color: #5d59f7;
}

.customers tbody tr {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.customers tbody tr:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 6px 30px 0px rgba(204, 204, 204, 0.7);
  box-shadow: 0 6px 30px 0px rgba(204, 204, 204, 0.7);
}

.customers tbody tr td {
  padding: 0.2em 1em;

  color: #202124;
  font-size: 0.875em;
}

.customers tbody tr td:last-child {
  text-align: right;
}

.customers tbody tr:not(:first-child) td {
  border-top: 1px solid #e0e0e0;
}

.customers tbody tr .action {
  visibility: hidden;
  opacity: 0;
}

.customers tbody tr:hover .action {
  visibility: visible;
  opacity: 1;
}

/* customers table end */

/* form */

.form {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1.2em;

  margin: 0 auto;

  max-width: 400px;
}

.form-inline-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
}

.form-field input {
  display: block;

  padding: 1em 2em;

  width: 100%;

  color: #202124;

  -webkit-box-shadow: 0 2px 30px 0px rgba(204, 204, 204, 0.3);

  box-shadow: 0 2px 30px 0px rgba(204, 204, 204, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border-width: 0;
  border-color: transparent;
  -webkit-border-radius: 3.75em;
  border-radius: 3.75em;
}

.form-field input:focus {
  outline: none;
}

.form-field input::-webkit-input-placeholder {
  color: #c6cfd9;
  font-weight: 100;

  opacity: 1;
}

.form-field input::-moz-placeholder {
  color: #c6cfd9;
  font-weight: 100;

  opacity: 1;
}

.form-field input:-ms-input-placeholder {
  color: #c6cfd9;
  font-weight: 100;

  opacity: 1;
}

.form-field input::-ms-input-placeholder {
  color: #c6cfd9;
  font-weight: 100;

  opacity: 1;
}

.form-field input::placeholder {
  color: #c6cfd9;
  font-weight: 100;

  opacity: 1;
}

.form-field input:-ms-input-placeholder {
  color: #c6cfd9;
  font-weight: 100;
}

.form-field input::-ms-input-placeholder {
  color: #c6cfd9;
  font-weight: 100;
}

.form-checkbox-field label {
  display: block;

  padding: 1em 2em;

  color: #202124;

  background-color: #ffffff;

  -webkit-border-radius: 1.5em;

  border-radius: 1.5em;
  -webkit-box-shadow: 0 2px 30px 0px rgba(204, 204, 204, 0.3);
  box-shadow: 0 2px 30px 0px rgba(204, 204, 204, 0.3);
}

.form-checkbox-field input:checked + label {
  color: #ffffff;

  background-color: #5d59f7;
}

.form-buttons-field {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;

  margin-top: 2em;
}

.form-button {
  height: 50px;
}

/* form end */

.customer-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  grid-gap: 3em;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.customer-card .title {
  margin: 0;
}

.customer-card__description {
  font-weight: 100;
  text-transform: uppercase;
}

.customer-card__block {
  margin: 0 0 1em 0;

  color: #424071;
  font-size: 1em;
  font-weight: 500;
}

.customer-card__block span {
  font-weight: 100;
  text-transform: uppercase;
}
